@import '../../variables.scss';

.aboutContainer {
background-color: $colour-primary-blue;
display: flex;
justify-content: space-evenly;
// align-items: flex-start;
padding: 60px;
text-align: left;
color: $colour-primary-grey;
}

.aboutIntro{
    width: 800px;
    margin-bottom: 20px;
}

.experienceContainer {
    display: flex;
    width: 800px;
}

.jobContainer {
    display: flex;
    flex-direction: column;
}

// .textContainer {
//     display: flex;
//     flex-direction: column;
//     justify-content: space-between;
//     align-items: flex-start;
//     // list-style-type: none;
// }

.titleSection {
    display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    // align-items: flex-start;
    margin: 20px 0 20px 0;
}

.image {
    width: 50px;
    height: 50px;
    border-radius: 7px;
    margin-right: 20px;
}

.jobTitleAndDatesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}