@import '../../variables.scss';

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 400px;
    width: 450px;
    transform-style: preserve-3d;
    transition: 1090ms;
    // @media screen and (max-width: 1490px) {
    //     width: 300px;
    //     background-color: bl;
    // }
}

.cardContainer {
    margin: 0%;
}

.faceDown{
    transform: perspective(1000px) rotateY(-180deg);
}

.front, .back {
    position: absolute;
    backface-visibility: hidden;
}

.back{
    transform: rotateY(180deg);
}

.titleContainer {
    color: $colour-primary-grey;
    text-align: start;
}

.technology {
    color: $colour-primary-blue;
    // color: $colour-primary-pink;
    font-size: 15px;
    // background-color: $colour-primary-blue;
}