@import '../../variables.scss';

.card{
    // height: 440px;
    // width: 320px;
    padding: 25px;
    text-align: left;
    color: $colour-primary-grey;
}

.pictureContainer{
    // width: 110%;
    height: 60%;
    background-color: $colour-primary-pink;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImage {
    height: 200px;
}

.textSection {
    // text-align: left;
}

.technology {
    color: $colour-primary-blue;
    font-size: 15px;
}

.links{
font-weight: 600;
}