@import '../../variables.scss';

.navContainer {
    background-color: $colour-primary-pink;
    height: 7vh;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    // width: 100vw;
    // position: fixed;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    color: $colour-primary-grey;
}

.navLinksContainer {
    padding: 20px;
    margin-right: 20px;
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

.nameTitle {
    padding: 20px;
    margin-left: 20px;
    font-weight: 600;
    font-size: 25px;
}

.contactBtn{
    background-color: $colour-primary-blue;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    color: $colour-primary-grey;
    padding: 9px;
}

a{
    color: $colour-primary-grey;
    text-decoration: none;
}