@import '../../variables.scss';

.navContainer {
    background-color: $colour-primary-pink;
    height: 7vh;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    width: 100vw;
    align-items: center;
    border-radius: 0px 0px 40px 40px;
    color: $colour-primary-grey;
}

.navLinksContainer {
    margin-right: 20px;
    display: flex;
    width: 500px;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
    cursor: pointer;
    @media screen and (max-width: 666px) {
        display: flex;
        justify-content: flex-end;
    }
}

.navLinks{
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    cursor: pointer;
    @media screen and (max-width: 666px) {
        display: none;
    }
}

.nameTitle {
    margin-left: 40px;
    font-weight: 400;
    font-size: 25px;
    @media screen and (max-width: 800px) {
        display: none;
    }
}

.nameTitleInitals{
    display: none;
    @media screen and (max-width: 800px) {
        display: block;
        font-size: 25px;
        padding: 30px;
        // margin-left: 20px;
        font-weight: 400;
    }
}

.contactBtn{
    background-color: $colour-primary-blue;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    color: $colour-primary-grey;
    padding: 5px;
    // font-size: 10px;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 125px;
    cursor: pointer;
}


.menuIsOpenStyle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 49px;
    right: 65px;
    height: 150px;
    width: 126px;
    border-radius: 0 0 10px 10px;
    padding: 10px;
    border: solid $colour-primary-pink;
    border-top: 0;
    background-color:$colour-primary-blue;
}


.menuIsClosedStyle {
    display: none;
}

.contactLinks {
    color: $colour-primary-grey;
}

.contactLinks:hover {
    // text-decoration: underline;
    color: $colour-primary-pink;
}