@import '../../variables.scss';

.cardFront{
    // height: 440px;
    // width: 320px;
    // padding: 25px;
    text-align: left;
    color: $colour-primary-grey;
    height: 300px;
    width: 400px;
    background-color: $colour-primary-pink;
    padding: 15px;
}

.pictureContainer{
    // width: 110%;
    // height: 60%;
    // background-color: $colour-primary-pink;
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    // height: 220px;
    padding-bottom: 40px;
}

.cardImage {
    height: 250px;
}


.technology {
    color: $colour-primary-blue;
    font-size: 15px;
}

// .textContainer {
//     height: 180px;
// }
