@import '../../variables.scss';
.textContainer{
    font-weight: 600;
    height: 180px;
    }



    .cardBack {
        background-color: $colour-primary-pink;
        height: 200px;
        width: 300px;
        // padding: 25px;
        color: $colour-primary-grey;
        text-align: left;
        padding: 15px;
    }

    .technology {
        color: $colour-primary-blue;
        font-size: 15px;
    }

    // .textContainer {
    //     height: 180px;
    // }
    