@import '../../variables.scss';

.footerContainer{
    background-color: $colour-primary-grey;
    width: 100vw;
    display: flex;
    justify-content: center;
    color: $colour-primary-grey;
    align-items: center;
}

.footerLinks {
    display: flex;
    border-radius: 50%, solid;
    display: flex;
}

.icons{
    background-color: $colour-primary-blue;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    color: $colour-primary-grey;
}
