@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Quantico&family=Signika+Negative:wght@300;400&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  
  font-family: 'Manrope', sans-serif;
  /* font-family: 'Quantico', sans-serif; */
  /* font-family: 'Lato', sans-serif; */
}

