$colour-primary-pink: #FCCFE2;
$colour-primary-blue: #50b0b9;
// $colour-primary-blue: #a8bff0;
// $colour-primary-blue: #093824;
// $colour-primary-blue: #C5F4E0;
$colour-primary-grey: #08090A;

// $colour-primary-grey: #6D6875;

